@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Teko:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgb(240, 193, 107), rgb(247, 217, 52), green, tomato);
}

img {
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

h1 {
  color: green;
  margin-top: 1rem;
  text-align: center;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: green;
  font-weight: bold;
}

li {
  padding: 5px;
  margin: 2%;
  font-size: 16px;
}

button {
  margin: 0.25%;
  background-color: rgb(247, 217, 52);
  border-radius: 5px;
  border: solid 2px tomato;
  padding: 4px;
  transition: all .3s ease-in-out;
}

button:hover {
  margin: 1%;
  padding: 5px;
  color:rgb(247, 217, 52);
  border: solid 2px rgb(247, 217, 52); 
  background-color: tomato;
  transform: scale(1.1);
}

label {
  font-size: 20px;
}

#submit-text {
  text-align: center;
  color: green;
}

#burger-lists {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

#submit-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.col-md-12 {
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 5px;
}

.left-burgers,
.right-burgers {
  box-shadow: -4px 5px 15px black;
  background-color:rgb(247, 154, 40);
  padding: 2rem;
  border-radius: 5px;
}

.add-a-burger {
  background-color:rgb(247, 154, 40);
  padding: 2rem;
  font-family: 'Merriweather Sans', sans-serif;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5%;
  box-shadow: -4px 5px 15px black;
  border-radius: 5px;
}

#burger-lists {
  display: flex;
  font-family: 'Merriweather Sans', sans-serif;
}

#burg {
  border-radius: 4px;
  margin-left: 1%;
  transition: all .3s ease-in-out;
}

#burg:hover {
  transform: scale(1.1);
  margin-left: 1%;
}

#create-form {

}